p {
  margin-top: 0;
  margin-bottom: 0rem!important;
}
.sidenav{
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.sidenav li{
  text-align: start;
  list-style-type: none;
  padding: 10px 10px;
  border-bottom: 1px solid #f2f2f23a;
}
.profile-section{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-direction: column;
}
.profile-picture{
  background-color: #fff;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  border: 10px solid #009bb6;
  margin: 20px;  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.profile-name{
  text-align: center;
}
.header{
  background-color: #009bb6;
  padding: 20px 20px;
}